<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<!-- Loading the AngularJS file from /public/angularJS folder -->


<script src="angularjs/calculator.js"></script>
</head>
<body ng-app="calculator" ng-controller="calculator"
	style="background-color: #eee;">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-7">
				<h2 style="color: #767676; font-size: 18px; font-weight: bold;">Calculator</h2>
				<br>
				<div style="background-color: #f0eac0; border-bottom: 1px solid #ccc;">
					<form method="post" ng-submit="submit();" method="post” name="
						route_selector” data-toggle="validator">
						<br> <br>
						<div class="row">
							<div class="col-md-6 text-center">
								First Number :<input type="number" id="operand1"
									ng-model="firstOperand" required/>
							</div>
							<div class="col-md-6 text-center">
								Second Number :<input type="number" id="operand2"
									ng-model="secondOperand" required/>
							</div>
						</div>
						<br> <br>
						<div class="row">
							<div class="col-md-12 text-center">
								<div class="form-group">
									Operation :
									<div align="center">
										<select id="operation" name="operation" ng-model="operation"
											class="form-control"
											style="width: 30%; text-align: center !important;">
											<option value="+" selected>Addition</option>
											<option value="-">Subtraction</option>
											<option value="*">Multiplication</option>
											<option value="/">Division</option>
										</select>
									</div>

								</div>
							</div>
						</div>
						<br> <br>
						<div class="row">
							<div class="col-md-12 text-center">
								<button type="submit" class="btn btn-primary"
									style="width: 50%;">Calculate</button>
							</div>
						</div>
						<br>
						<br>
						<div class="row">
							<div class="col-md-6 text-center">
								<h3>Result :</h3>
							</div>
							<div class="col-md-6">
							<br>
								<input type="text" id="result" value="{{result}}" />
							</div>
						</div>
						<br> <br> <br>
					</form>
				</div>
			</div>
		</div>


	</div>

	



</body>
</html>