<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' href='/stylesheets/style.css' />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<meta http-equiv="Cache-Control"
	content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<title>Sell | eBay</title>
</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">

			<br>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
					<div class="navbar-header">
						<a class="navbar-brand" href="/homepage"><img width="250" height="200"
							style="clip: rect(47px, 118px, 95px, 0px); position: absolute; top: -47px; left: 0"
							alt=""
							src="https://ir.ebaystatic.com/rs/v/fxxj3ttftm5ltcqnto1o4baovyl.png"
							id="gh-logo"></img></a>
					</div>
				</div>
				<div class="col-md-7">

					<form action="sellit" method="post">
						<div class="input-group">
							<input type="text" class="form-control input-lg search-query"
								placeholder="Give your listing a descriptive title..."
								name="sell" id="sell" style="width: 100%;">
							<div class="input-group-btn">
								<button class="btn btn-primary btn-lg" type="submit">Sell
									it</button>
							</div>
						</div>
					</form>

				</div>
				<div class="col-md-2">

					<ul class="nav navbar-nav navbar-right">
						<li><a href="" onclick="$('#logout').submit(); return false;"><span
								class="glyphicon glyphicon-user"></span> Sign out</a></li>
					</ul>


				</div>

			</div>

			<br>

		</div>
	</nav>

	<form id="logout" action="logout" method="post" style="display: none"></form>
	<div id="sellcontent" class="container-fluid sellcontent collapse">

		<div class="row">
			<div class="col-xs-12" style="height: 50px;"></div>
		</div>
		<div class="row text-center">
			<h1 style="font-weight: lighter; font-size: 4rem;">Over 160
				million shoppers</h1>
			<h1 style="font-weight: lighter; font-size: 4rem;">want to buy
				your stuff.</h1>
		</div>
		<br>
		<div class="row"></div>
		<div class="col-md-3"></div>
		<div class="col-md-5">


			<h3 style="font-weight: lighter; font-size: 2rem;">What do you
				want to sell?</h3>
			<form action="sellit" method="post">
				<div class="input-group">
					<input type="text" class="form-control input-lg search-query"
						placeholder="Give your listing a descriptive title..." name="sell"
						id="sell" style="width: 100%;">
					<div class="input-group-btn">
						<button class="btn btn-primary btn-lg" type="submit">Sell
							it</button>
					</div>
				</div>
			</form>
			<h3 style="font-weight: lighter; font-size: 1.5rem;">Example:
				Men's blue adidas glide running shoes size 11</h3>

		</div>

	</div>

	<div class="container-fluid howtosell">

		<div class="row">
			<div class="col-xs-12" style="height: 50px;"></div>
		</div>
		<div class="row text-center">
			<h2 style="font-weight: lighter; font-size: 4.5rem;">It really
				is easy to sell on eBay.</h2>
		</div>

		<br>
		<div class="row">
			<div class="text-center col-sm-4">
				<img
					src="http://p.ebaystatic.com/aw/sell/lnd/how_to_camera_icon.png">
				<h4>List in minutes</h4>
				<p>Snap some photos and write a great description. We'll help
					you price your item to sell.</p>

			</div>
			<div class="text-center col-sm-4">
				<img src="http://p.ebaystatic.com/aw/sell/lnd/how_to_tag_icon.png">
				<h4>Get paid quickly and safely.</h4>
				<p>When your item sells, we make the payment process easy for
					you and the buyer.</p>
			</div>
			<div class="text-center col-sm-4">
				<img src="http://p.ebaystatic.com/aw/sell/lnd/how_to_ship_icon.png">
				<h4>Ship it to its new home.</h4>
				<p>Box it up, print a label directly on eBay, and say farewell.
					It's that simple.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12" style="height: 100px;"></div>
		</div>
	</div>


	<div class="container-fluid startsell">
		<div class="row">
			<div class="col-xs-12" style="height: 50px;"></div>
		</div>
		<div class="row text-center">
			<h2 style="font-weight: lighter; font-size: 4.5rem;">It's time
				to start making money.</h2>
		</div>
		<br>
		<div class="row">
			<div class="text-center col-md-4 col-md-offset-4">
				<button class="btn btn-primary btn-lg" data-target="#sellcontent"
					data-toggle="collapse" style="width: 80%;">Start selling</button>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-xs-12" style="height: 80px;"></div>
	</div>


	<form id="logout" action="logout" method="post" style="display: none">

	</form>
</body>
</html>