<!DOCTYPE html>
<html>
<head>
<title>Shop | eBay</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

<!-- Loading the AngularJS file from /public/angularJS folder -->
<script src="angularjs/buyItems.js"></script>
</head>
<body class="orderpage" ng-app="advertisements"
	ng-controller="advertisements">

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="col-md-2">
				<div class="navbar-header">
					<a class="navbar-brand" href="/homepage"><img width="250"
						height="200"
						style="clip: rect(47px, 118px, 95px, 0px); position: absolute; top: -47px; left: 0"
						alt=""
						src="https://ir.ebaystatic.com/rs/v/fxxj3ttftm5ltcqnto1o4baovyl.png"
						id="gh-logo"></img></a>
				</div>
			</div>
			<div class="col-md-10">
				<ul class="nav navbar-nav">
					<li><a href="/userprofile">Hi <strong><%= name %></strong>!
					</a></li>
					<li><a href="/marketPlace">Sell</a></li>
					<li><a href="/advertisements">Shop</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/loadProfile">My eBay</a></li>
					<li><a href="/loadCart">My Cart</a></li>
					<li><a href="" onclick="$('#logout').submit(); return false;"><span
							class="glyphicon glyphicon-user"></span> Sign out</a></li>
					&nbsp;&nbsp;<li><a href="#">Last logged in : <%= lastlogin %></a></li>
				</ul>
			</div>

		</div>
	</nav>

	<!-- <div class="view">

		<div class="full-bg-img flex-center"></div>

	</div> -->

	<form id="logout" action="logout" method="post" style="display: none">

	</form>

	<div class="container-fluid ordercontainer">
		<div class="row">
			<div class="col-xs-12" style="height: 80px;"></div>
		</div>
		<div class="row">

			<div class="col-md-2"></div>
			<div class="col-md-8 carttitle">

				<!-- <div ng-hide="cart_add"> -->
				<i class="titletick"></i>

				<p>
					<span style="font-size: 18px; font-weight: bold;">Thank
						you!Your order has been placed.</span> <br>
				<div>
					<span style="font-size: 15px;">&nbsp;&nbsp;&nbsp;You will
						receive an email confirmation shortly.</span>
				</div>
				<br> <br>


				<button ng-click="goHomePage()" style="width: 50%; float: right;"
					class="btn btn-primary">Continue shopping</button>
				<br> <br> <br>
				</p>




			</div>

		</div>

	</div>
</body>
</html>